body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
    

.main_container {
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: aqua;
    height: 6em;
    width: 20em;
}